<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>3000</title>
		<link rel="stylesheet" type="text/css" href="/css/base.css">
		<style>
			body { margin: 0; }
		</style>
	</head>
	<body>
		<div id="selectionPanel">
			<h1 id="selectedObjectName"></h1>
			<h2 id="selectedObjectHealth"></h2>
		</div>
		
		<div id="overscreen"></div>
		<script src="/js/tests.js" type="module"></script>
	</body>
</html>